@media(min-width:1200px){
    .an__problems-title_container{
        min-height:20vh;
    }
}



@media(max-width:1200px) and (min-width:1000px){
    .an__problems{
        height:90vh;
    }

    .problems__content-image{
        height:70%;
    }

}

@media(max-width:1000px){


    .an__problems{
        height:80vh
    }

    .an__problems-content__container{
        flex-direction:column;
    }
    .problems__content-text__container{

        height:50%;
        width:100%;
    }
    .problems__content-image__container{
        height:50%;
        width:100%;
    }
    .problems__content-image{
        height:100%;
    }
    .port{
        display:none;
    }
    .land{
        display:inline;
        height:100%;
        width:100%;
        object-fit: contain;
    }
    .problems__content-text__container{

        font-size:calc(0.8vw + 0.8vh);
  
    }
    .problems__title-background{
        height:10%;
        width:80%;
    }
}

@media(max-width:600px){


    .an__problems{
        height:60vh
    }
    
    .an__problems-content__container{
        flex-direction:column;
    }
    .problems__content-text__container{

        height:30%;
        width:100%;
    }
    .problems__content-image__container{
        height:50%;
        width:100%;
        padding:0rem 0.5rem;
    }
    .problems__content-image{
        height:100%;
    }
    .p-land{
        display:inline;
        height:100%;
        width:100%;
        object-fit: contain;
    }
}
@media(max-width:500px){
    .problems__title-background{
        height:15%;
        width:100%;
    }
    .an__problems-title_container{
        min-height:1.5%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0rem;
        overflow: hidden;
    }
   
}