.an__demo-container{
    background-color:var(--background);
    min-height:300vh;
}
.demo-slider__container{
    height:100vh;
    background-color:var(--background);
    display:flex;
    position:sticky;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    top:0;
}

.demo__cards{
    width:300%;
    min-height:80vh;
    display:flex;
    justify-content: center;
    flex-direction:row;
    gap:4rem;
}
.demo__card-one,.demo__card-two,.demo__card-three,.demo__card-four,.demo__card-five,.demo__card-six{
    min-height: 100%;
    max-width: 700px;

    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(120deg, rgb(191, 192, 191) 0%, rgb(225, 246, 206) 54%, rgba(215,215,215,1) 92%);

    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--headings);
}

/* demo card one styles*/
.demo__card-one{
    min-width:700px;
    gap:2rem;
}

.card__header{
    font-size:calc(1.8vh + 1.8vw );
    padding: 1rem;
}
.card__text{
    font-size:calc(0.8vh + 0.8vw)

}

/* demo card two styles*/
.demo__card-two{
    padding:3rem;
}
/* demo card three styles*/
.demo__card-three{
    min-width: 700px;
}
.design-image{
    max-width: 600px;
    object-fit: contain;
}
/* demo card four styles*/
.demo__card-four{
    padding: 4rem;
    
}
/* demo card five styles*/
.demo__card-five{
    min-width:700px;
}
.build-image{
    max-width: 600px;
    object-fit: contain;
}
/* demo card six styles*/
.demo__card-six{
    padding:4rem;
}





@media(min-width:2000px) {
    .demo__card-one,.demo__card-two,.demo__card-three,.demo__card-four,.demo__card-five,.demo__card-six{
        min-height: 100%;
        min-width: 1200px;
    
    }
    

}
@media(max-width:1024px) {

}
@media(max-width:768px) {
 

}
@media(max-width:425px) {
    .an__demo-container{
        min-height:300vh;
    }
    .demo__card-one,.demo__card-two,.demo__card-three,.demo__card-four,.demo__card-five,.demo__card-six{
        min-height: 500px;
        max-width: 500px;
        font-size: (0.8vh + 0.8vw);
    }
    .demo__cards{
        width:270%;

    }

 
}
@media(max-width:375px) {

}
