.an__demo-container{
    background-color:var(--background);
    min-height:300vh;
}
.demo-slider__container{
    height:100vh;
    background-color:var(--background);
    display:flex;
    position:sticky;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    top:0;
}

.demo__cards{
    width:300%;
    min-height:80vh;
    display:flex;
    justify-content: center;
    flex-direction:row;
    gap:4rem;
}
.demo__card-one,.demo__card-two,.demo__card-three,.demo__card-four,.demo__card-five,.demo__card-six{
    min-height: 100%;
    width: 800px;
    padding:2rem;

    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(120deg, rgb(191, 192, 191) 0%, rgb(225, 246, 206) 54%, rgba(215,215,215,1) 92%);

    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--headings);
}
.card__header{
    font-size:calc(1.8vh + 1.8vw );
    padding: 1rem;
    text-align: center;
}
.card__text{
    font-size:calc(0.8vh + 0.8vw)

}

.design-image{
    max-width: 600px;
    object-fit: contain;
}

 
.build-image{
    max-width: 600px;
    object-fit: contain;
}

@media(min-width:1600px) {
    .demo__card-one,.demo__card-two,.demo__card-three,.demo__card-four,.demo__card-five,.demo__card-six{
        min-width:1200px;
    
    }
    .design-image, .build-image{
        min-width: 1000px;
        object-fit: contain;
    }
    
}
@media(max-width:768px) {
    .demo__card-one,.demo__card-two,.demo__card-three,.demo__card-four,.demo__card-five,.demo__card-six{
        width: 500px
    }
    .design-image, .build-image{
        width: 400px;
        object-fit: contain;
    }
}
@media(max-width:426px) {
    .demo__card-one,.demo__card-two,.demo__card-three,.demo__card-four,.demo__card-five,.demo__card-six{
        width: 300px;
    }
    .design-image, .build-image{
        width: 350px;
        object-fit: contain;
        transform: rotate(90deg);
    }
    .card__header{
        font-size:calc(1.2vh + 1.3vw );
        padding: 1rem;
    }
}