.an__about{
  min-height:100vh;
  min-width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.about-card__one,
.about-card__two {
  border-radius: 2rem;
  min-height: 90vh;
  width: 50%;
  background: linear-gradient(120deg, rgb(191, 192, 191) 0%, rgb(225, 246, 206) 54%, rgba(215,215,215,1) 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--headings);
  font-weight: 300;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-card__one {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.about-card__two {
  z-index: 2;
  background: linear-gradient(120deg, rgb(191, 192, 191) 0%, rgb(222, 247, 200) 54%, rgba(215,215,215,1) 92%);
}
 .about-image{
  width:60%;
 }
.about-text{
  font-size: calc(0.8vh + 0.8vw);
  padding: 2rem;
}

@media(max-width:1440px) {
  .about-card__two{
  }
}
@media(max-width:1024px) {

}
@media(max-width:768px) {
    .about-card__one,
    .about-card__two {

      width: 70%;
    }
}
@media(max-width:425px) {
  .about-card__one,
  .about-card__two {

    width: 90%;
  }
}
@media(max-width:375px) {
}
