.an__circles-colour__container {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 0.5rem;
  }
  
  .an__circles-colour__one, 
  .an__circles-colour__two, 
  .an__circles-colour__three {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  
  /* Colors for the circles */
  .an__circles-colour__one {
    background-color: #B3F7F2;
  }
  
  .an__circles-colour__two {
    background-color: #F2F7DE;
  }
  
  .an__circles-colour__three {
    background-color: #C6F0FF;
  }