@media(min-width:1300px){
  .an__home{ 
    min-height:90vh;
  }
}
@media (max-width: 700px) {
  
    .an__home-logo__container {
      max-width: 25em;
    }
    .an__home-colour__one, .an__home-colour__two, .an__home-colour__three {
      border-radius: 50%;
      height: 25px;
      width: 25px;
    }
  }
  
  @media (max-width: 480px) {
    .home-name {
      font-size:calc(2vw + 2vh);
    }
    .an__home-colour__one, .an__home-colour__two, .an__home-colour__three {
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }

  }
  
 

 
