.an__contact{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.contact__container{
  min-height: 90vh;
  min-width: 100%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
svg{
  max-width: 100%;
  min-height: 100%;
  top:0;
  left:0;
}
rect {
  stroke-width: 20px;
  fill: transparent;
  position:absolute;
}
.contact-content{
  position: absolute;
  width:100%;
  display: flex;
  flex-direction: column;
  font-family: var(--headings);
  border: 2px solid red;
  gap:1rem
}
.contact-icons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: calc(3vh + 3vw);
  color:white;
  margin-top: 3rem;
}
.contact-header{
  font-size:calc(2vh + 2vw);
  text-align: center;
  padding: 2rem 0rem;
}
.contact-text{
  font-size: calc(1vh + 1vw);
  text-align: center;
}
.contact-icons a {
  color:white;
}
.contact-icons a:hover{
  transition: 0.3s ease;
  color:var(--hover);
}

@media(max-width:375px){
  .an__contact{
    min-height:80vh;
  }
  .contact-content{
    gap:0.5rem;
  }
}