.an__navbar{
    display:flex;
    opacity: 1;
    justify-content:center;
    font-family: var(--headings);
    width:100%;
    padding: 2rem 0rem 0rem 0rem;
    min-height:10%;
    position: fixed;
    top: 0; 
    transition: top 0.4s; 
    z-index: 1000;
}
.an__navbar-links{
    border: 2px solid var(--white);
    background-color: rgb(177, 177, 172);
    border-radius: 4rem;
    display:flex;
    justify-content: space-between;
    gap: 2rem;
    padding:10px 60px;
    font-size:calc(1vw + 1vh);
}
.an__navbar-links a{
    text-decoration: none;
    color: black;

}
.an__navbar-links a:hover{
    color: var(--hover);
    transition: ease 0.5s;
}

@media(max-width:500px){
    .an__navbar{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        font-family: var(--headings);
        width:100%;
        padding: 2rem 0rem 0rem 0rem;
        min-height:30px;
    }
    .an__navbar-links{
        border: 2px solid #e9e4e4;
        border-radius: 4rem;
        display:flex;
        justify-content: space-between;
        gap: 1.3rem;
        padding:10px 20px;
        font-size:calc(1vw + 1vh);
    }

}