.an__building{
    min-height:110vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.an__building-title_container{
    min-height:20%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    overflow: hidden;
}

.building__title-background{
    height:20%;
    width:60%;

    background: rgb(167,243,155);
    background: -moz-radial-gradient(circle, rgba(167,243,155,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(circle, rgba(167,243,155,1) 0%, rgba(0,0,0,0) 100%);
    background: radial-gradient(circle, rgba(167,243,155,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a7f39b",endColorstr="#000000",GradientType=1);
    filter: blur(8px);
    -webkit-filter: blur(20px);
    
    border-style: none;
    border-radius: 50%;
    position: absolute;
}
.building-text{
    position: absolute;
    font-family:'halogen', sans-serif;
    font-weight: 300;
    color: rgb(59, 59, 59);
    font-size:calc(2vw + 2vh);
 

}


.an__building-content__container{
    width:100%;
    height:80%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;


}


.building__content-image__container{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}
.building__content-image{
    height:100%;
    width:100%;
}
.b-land{
    display:inline;
    height:100%;
    width:100%;
    object-fit: contain;
}

.building__content-text__container{
    height:100%;
    width: 50%;
    font-family:"fort", sans-serif;
    padding: 3rem;
    font-size:calc(0.8vw + 0.8vh);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}