:root{
    --hover:#a7f39b;
    --background:#c2c6c5;
    --headings:"halogen", sans-serif;
    --background-btns:rgb(177, 177, 172);
    --white:rgb(240, 237, 230);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    background-color: var(--background);
}
.body{
    padding:0rem;
    margin:0rem;
}